<h2>User info</h2>

 <%= image_tag @user.get_profile_image(100,100) %>
<%= name: user.name %>
<%= introduction: user.name %>
<li>
<%= link_to 'ユーザー編集', edit_user_path(user.id) %>
</li>

<h2>New book</h2>